._form_search._show {
    visibility: visible;
    opacity: 1;
    height: calc(var(--height-multiplier) * 106px);
    transition: opacity 0.4s ease-out, height 0.4s ease-in-out;
  }
  
  ._form_search._hide {
    opacity: 0;
    height: 0;
    transition: opacity 0.4s ease-in, height 0.4s ease-in-out;
  }
  